.breadcrumbs {
  margin: 0 auto;
  padding: 1em .5em 0;
  list-style: none;

  li, strong {
    color: $color-midtone;
    display: inline;
    font-size: 14px;
    font-family: $typeface-heading;
  }
  .separator { margin: 0 4px; }

  strong {
    font-weight: normal;
  }

  a { text-decoration: underline; }
}

.products .breadcrumbs,
.single .breadcrumbs {
  padding-left: 2em;
  padding-right: 2em;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
  font-size: 14px !important;
  font-family: $typeface-heading;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
  color: $color-accent-blue !important;
  text-decoration: underline;
}