.page-header {
  @extend .clearfix;
  position: fixed;
  top: 0; left: 0; right: 0;
  width: 100%;
  
  z-index: 3;
  background: rgba(0,20,35,0.9);
  
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
          box-shadow: 0 1px 3px rgba(0,0,0,.3);
  
  -webkit-transition: background .3s;
          transition: background .3s;
  
  @media screen and (min-width: 1400px) {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
}
.site-logo {
  @extend .left;
  margin: 0;
  padding: 0;
  
  -webkit-transform: translate(10px, 0px);
     -moz-transform: translate(10px, 0px);
          transform: translate(10px, 0px);
  
  a, img { display: block; }
  
  img {
    height: 70px;
    
    @media screen and (min-width: 360px) { height: auto; } 
  }
}

.site-logo,
.site-nav,
.menu-trigger {
  -webkit-transition: -webkit-transform .3s;
          transition: transform .3s;
}

.menu-trigger {
  display: block;
  float: right;
  margin-top: $row-height*2-10;
  margin-right: 2em;
  padding: 0 1em 0 0;
  position: relative;
  
  color: $color-light;
  cursor: pointer;
  
  -webkit-transform: translate(-10px, 0px);
     -moz-transform: translate(-10px, 0px);
          transform: translate(-10px, 0px);
  
  &:before {
    content: "";
    position: absolute;
    top: .5em; right: 0;
    width: .6em;
    height: 0.125em;
    border-top: 0.375em double;
    border-bottom: 0.125em solid;
  }
  
  @media screen and (min-width: 360px) { margin-top: $row-height*2-2; }
  @media screen and (min-width: $large-break) { display: none; }
}

.site-nav {
  display: none;
  @extend .right;
  margin-top: 20px;
  padding-right: 1em;
  
  -webkit-transform: translate(-10px, 0px);
     -moz-transform: translate(-10px, 0px);
          transform: translate(-10px, 0px);
  
  @media screen and (min-width: $large-break) {
    display: block;
  }
}

.menu, .sub-menu {
  list-style: none;
}

.menu {
  @extend .clearfix;
  text-align: right;
  margin: 0;
}

.menu > .menu-item > .sub-menu {
  position:absolute;
  z-index:999;
  margin:0;
  left:-9999px; 
  border-top:2px solid $color-dark;
  border-bottom:1px solid $color-midtone;
  background:lighten($color-light, 3%);
  padding-bottom: 10px;
}

.menu > .menu-item {
  display: inline-block;
  padding-left: 2em;
  &:first-child { padding-left: 0; }
  &:first-child:before { display: none; }
  &:before {
    content: '/';
    position: absolute;
    left: 15px; top: 50%;
    margin-top: -10px;
    color: rgba($color-light, .5);
    font-size: $font-size-xxx-small;
  }
  > a {
    padding:10px 0;
  }
}

.menu-item {
  position: relative;
  @extend %reset;
  
  &.current-menu-item {
    a {
      border-bottom: 1px solid $color-accent-alt;
      color: $color-accent-alt;
      text-shadow: 0 0 4px darken($color-accent-alt, 25%);
      &:hover { color: $color-accent-alt; }
    }
  }
  a {
    padding:7px 30px 7px 10px;
    display: block;
    color: $color-light;
    border-bottom: 1px solid transparent;
    font: 600 #{$font-size-small} #{$typeface-secondary};
    position: relative;
    
    -webkit-transition: color 0.3s, text-shadow 0.3s, border 0.3s;
            transition: color 0.3s, text-shadow 0.3s, border 0.3s;
    
    &:hover { border-bottom-color: $color-light; }
  }
}

.menu-item:hover > .sub-menu {
  left:0; 
}

.no-bg {
  .page-header {
    background: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .site-logo {
    -webkit-transform: translate(30px, 20px);
       -moz-transform: translate(30px, 20px);
            transform: translate(30px, 20px);
  }
  .site-nav, .menu-trigger {
    -webkit-transform: translate(-30px, 20px);
       -moz-transform: translate(-30px, 20px);
            transform: translate(-30px, 20px);
  }
}

.featured-image {
  display: block;
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 500px; width: 100%;
  
  @media screen and (min-width: 600px) { height: 800px; }
  
  &:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 100%; width: 100%;
    
    opacity: .3;

//    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
//    background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
//    background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
//    background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
//    background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */

    background: -webkit-linear-gradient(135deg, #3D7EAA 10%, #FFE47A 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(135deg, #3D7EAA 10%, #FFE47A 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(135deg, #3D7EAA 10%, #FFE47A 90%); /* IE10 */
    background:      -o-linear-gradient(135deg, #3D7EAA 10%, #FFE47A 90%); /* Opera 11.10+ */
    background:         linear-gradient(135deg, #3D7EAA 10%, #FFE47A 90%); /* W3C */


  }
  
  img { display: block; }
  
  > div {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 50%; left: 0; right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  h2,
  h3,
  span {
    color: white;
    font: 3em $typeface-secondary;
    font-weight: 100;
    text-align: center;
  }
  
  h2 {
    @media screen and (min-width: 400px) { font-size: 4em; }
    @media screen and (min-width: 600px) { font-size: 6em; }
  }
  
  h3 {
    font: 1.5em $typeface-heading;
    
    em {
      font: 100 normal 3em $typeface-secondary;
      //font-size: 3em;
    }
  }
  
  span {
    display: block;
    position: relative;
    color: rgba(255,255,255,.7);
    font-size: 1em;
    font-weight: 400;
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%; right: 0;
      width: 0; height: 0;
      border: 6px solid rgba(255,255,255,.7);
      border-color: rgba(255,255,255,.7) transparent transparent transparent;
    }
    
    &:before {
      margin-left: -5px;
      bottom: -.8em;
      border-width: 6px 5px;
    }
    &:after {
      margin-left: -3px;
      bottom: -1.1em;
      border-width: 4px 3px;
    }
  }
}

@media only screen and  (max-width: 420px) {
  .site-nav li {
    float: none;
    margin: 0;
    border-bottom:1px solid $color-light;
    a {
      font-size: $font-size-small;
      padding: $row-height 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .site-nav {
    ul ul {
      display:none;
    }
  }
}

