.page-header {
  @extend .clearfix;
  z-index: 1;
  position: fixed;
  top: 0; left: 0; right: 0;
  width: 100%;
  //background: rgba(5,30,49,.8);
}
.site-logo {
  @extend .left;
  margin: 0;
  padding: 0;
  
  a, img { display: block; }
}
.site-nav {
  @extend .right;
  margin-top: 0;
  padding-right: 1em;
}


.menu, .sub-menu {
  list-style: none;
}

.menu {
  @extend .clearfix;
  text-align: right;
  margin: 0;
}

.menu > .menu-item:hover {
  //border-top:1px solid $color-midtone;
  //margin-top:-1px;
}

.menu > .menu-item > .sub-menu {
  position:absolute;
  z-index:999;
  margin:0;
  left:-9999px; 
  border-top:2px solid $color-dark;
  border-bottom:1px solid $color-midtone;
  background:lighten($color-light, 3%);
  padding-bottom: 10px;
}

.menu > .menu-item {
  display: inline-block;
  padding-left: 1em;
  &:first-child:before { display: none; }
  &:before {
    content: '/';
    position: absolute;
    left: 5px; top: 50%;
    margin-top: -10px;
    color: darken($color-light, 35%);
    font-size: $font-size-xxx-small;
  }
  > a {
    padding:30px 10px 29px;
  }
}

.menu-item {
  position: relative;
  @extend %reset;
  
  &.current-menu-item {
    a {
      color: $color-accent-alt;
      text-shadow: 0 0 4px darken($color-accent-alt, 25%);
      &:hover { color: $color-accent-alt; }
    }
  }
  a {
    padding:7px 30px 7px 10px;
    display: block;
    color: darken($color-light, 15%);
    font: #{$font-size-small} #{$typeface-secondary};
    position: relative;
    
    -webkit-transition: color 0.3s, text-shadow 0.3s;
            transition: color 0.3s, text-shadow 0.3s;
    
    &:hover { color: $color-light; }
  }
}

.menu-item:hover > .sub-menu {
  left:0; 
}

.sub-menu {
  @extend %reset;
  .menu-item {
    &:first-child {
      margin-top:10px;
    }
  }
  > .menu-item {
    a {
      padding-left: 15px;
    }
  }
  a {
    font-weight: $font-weight-normal;
    white-space:nowrap; 
    &:hover  {
      background:darken($color-light, 5%);
      border:0;
    }
  }
}

.sub-header {
  border-bottom:$border-break;
  padding-bottom:$row-height;
  margin-bottom:$row-height * 2;
  p {
    margin-top: 0; 
  }
}

.featured-image {
  display: block;
  position: relative;
  
  img { display: block; }
  
  h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0; right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    
    color: white;
    font: 6em $typeface-secondary;
    font-weight: 100;
    text-align: center;
  }
}

@media only screen and  (max-width: 420px) {
  .site-nav li {
    float: none;
    margin: 0;
    border-bottom:1px solid $color-light;
    a {
      font-size: $font-size-small;
      padding: $row-height 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .site-nav {
    ul ul {
      display:none;
    }
  }
}

