.home {
  .featured-image {
    height: 400px;
  
    @media screen and (min-width: 600px) { height: 700px; }
    @media screen and (min-width: 1280px) { height: 900px; }
  }

  .content {
    background: transparent;
    padding: 0;
    @media screen and (min-width: 600px) { margin-top: 660px; }
    @media screen and (min-width: 1280px) { margin-top: 840px; }
  }

  .content-primary {
    padding: 0;
  }
  
  .page-footer {
    padding: 4em 0 25px;
    margin-top: -2.75em;
    position: relative;
    z-index: 1;
  }
}