.content.page.fullspread {
  .content-primary {
    float:none;
    width:100%;
  }
}

.page .container {
  padding: 0 2em;
}

.spacing {
  padding: 2em 0 4em;
}

.content-inner {
  margin: 1em auto 2.5em;
  background: #fff;
  border: 1px solid darken($color-light, 5%);
  //box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.content-inner .post {
  margin: 0;
  padding: 6% 10% 10%;
}

.page-title {
  margin-bottom: .75em;
}

.staff-heading {
  margin: .25em 0 0;
}
.staff-title {
  color: $color-midtone;
  margin: 0;
}