.content.page.fullspread {
  .content-primary {
    float:none;
    width:100%;
  }
}

.page .container {
  padding: 0 .5em;

  @media #{$medium-up} { padding: 0 2em; }
}

.spacing {
  padding: 4em 0;
}

.page-title {
  margin-bottom: .75em;
}

.staff-item {
  margin-bottom: 2.5em;

  @media #{$medium-only} {
    &:nth-of-type(2n+1) { margin-left: 0; }
  }

  @media #{$large-up} {
    &:nth-of-type(3n+1) { margin-left: 0; }
  }
}

.staff-heading {
  margin: .25em 0 0;
}
.staff-title {
  color: $color-midtone;
  margin: 0;
}