.posts {
	margin: $row-height*4 auto;
}

.post-header { 
	margin-bottom: $row-height; 
}
.post-content {
	font: #{$font-size-medium}/1.6 #{$typeface-primary};
	p, li, dt, dd { 
		font-size: $font-size-medium; 
	}
    blockquote {
        font-size: $font-size-large;
    }
	li {
		margin:10px 0;
	}
	code, small { 
		font-size: $font-size-small; 
	}
	img {
		max-width: 100%;
		@extend %default-shadow; 
	}
}

.post, .type-page {
	margin: $row-height * 4 0;
	&:first-child { 
		margin-top: 0; 
	}
	&:last-child { 
		margin-bottom: 0;
	}
	&.leftaside {
		.post-content {
			@extend .clearfix; 
			@extend .column;
			width: $nine-columns;
			@extend .push-three;
		}
		.post-info {
			@extend .column;
			width: $three-columns;
			@extend .pull-nine;
		}
	}
}

.single {
  position: relative;
  .post {
    @media #{$medium-up} {
      width: $eleven-columns;
      margin-left: auto;
      margin-right: auto;
    }
    @media #{$large-up} {
      width: $nine-columns;
    }
  }
  .navigate {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
            transform: translateY(-50%);
    
    .icon-wrap {
      position: relative;
      z-index: 100;
      display: block;
      padding: 20px 10px;
      border: 0px solid darken($color-accent, 15%);
      background: darken($color-accent, 15%);
      color: #fff;
      -webkit-transition: border-width 0.3s 0.15s;
              transition: border-width 0.3s 0.15s;
    }
    
    div {
      position: absolute;
      top: 50%;
      padding: 20px;
      width: 330px; height: 148px;
      background: #fff;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
              transition: transform 0.3s, opacity 0.3s;

      span {
        display: block;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
        color: #cdcdcd;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 0.7em;
        line-height: 1.2;
      }
      h3 {
        margin: 0;
        padding: 8px 0 10px;
        color: #818181;
        font-weight: 300;
        font-size: 1.325em;
        line-height: 1.2;
      }
    }
    
    a:hover .icon-wrap {
      border-top-width: 40px;
      border-bottom-width: 40px;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
    }
    
    a:hover div {
      opacity: 1;
      -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s;
      -webkit-transform: translateY(-50%) translateX(0) scale(1);
              transform: translateY(-50%) translateX(0) scale(1);
    }
    
  }

  .nav-left {
    left: 0;
    
    div {
      left: 0;
      padding: 20px 30px 20px 60px;
      text-align: right;
      -webkit-transform: translateY(-50%) translateX(-100%) scale(0.75);
              transform: translateY(-50%) translateX(-100%) scale(0.75);
    }
  }
  .nav-right {
    right: 0;
    
    div {
      right: 0;
      padding: 20px 60px 20px 30px;
      -webkit-transform: translateY(-50%) translateX(100%) scale(0.75);
              transform: translateY(-50%) translateX(100%) scale(0.75);
    }
  }
}

		
/*MOBILE*/
@media only screen and  (max-width: 767px) {
	#content.home .post-group.oneup.large .post-content p {
		font-size: $font-size-x-large; 
	}
}