.sidebar {
	@extend .column;
	width: $three-columns;
	margin-top: 1em;

  //border: 1px solid darken($color-light, 15%);
	
	.widget {
		margin-right:0;
	}
	
	.widget-title:first-child { 
		margin-top: 0 !important; 
	}
}

.sb__menu {
  margin: 0; padding: 1.5em 0;
  list-style: none;
  position: relative;

  &:before,
  &:after {
    content: '';
    width: 30%;
    height: 2px;
    position: absolute;
    background: darken($color-light, 10%);
  }

  &:before { top: 0; }
  &:after { top: 4px; }
  
  li {
    //border-bottom: 1px solid darken($color-light, 15%);

    &:last-child { border-bottom: none; }
  }

  a {
    display: block;
    padding: .4em 0;


    -webkit-transition: all .3s;
            transition: all .3s;

    &:hover {
      color: $color-dark;
    }
  }
}