/*Buttons*/		
.button, input[type=submit] {
	display: block;
    margin:$row-height 0;
    padding: .8em 1.5em;
    width: 100%;
	
    background: $color-dark;
	color: $color-highlight;
    border: 1px solid rgba(0,0,0,0.8);
	border-radius: 2px;
	font: 600 #{$font-size-xx-small} #{$typeface-secondary};
	text-align: center;
  
	&:hover {
		background: $color-accent-alt;
		color: $color-highlight;
		border: 1px solid rgba(0,0,0,0.3);
	}
    &:active {
      -webkit-transform: translateY(2px);
         -moz-transform: translateY(2px);
              transform: translateY(2px);
    }
}

.button.alt {
  background: $color-accent;
  border: 1px solid rgba(0,0,0,0.3);
	color: $color-highlight; 
	&:hover {
		background: lighten($color-accent, 10%);
		color: $color-highlight;
	}
}

.button.small {
	font-size: $font-size-xx-small;
	padding: 4px 8px;
}

/*MOBILE UP*/
@media #{$small-up} {
	
	button, .button, input[type=submit] {
		display: inline-block;
		width:auto;
	}
}